@use '../../../App.scss';

aside {
  grid-area: sidebar;
  background: App.$primary;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;

  .logo {
    width: 165px;
    margin-top: 32px;

    img {
      display: none;
    }

    h1 {
      color: App.$white;
      font-size: 32px;
      font-weight: 600;
      letter-spacing: -0.96px;
      font-style: normal;
      line-height: 48px;
    }
  }

  .sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  aside {
    .logo {
      display: flex;
      justify-content: center;
      width: auto;
      h1 {
        display: none;
      }

      img {
        display: block;
        margin-top: 32px;
      }
    }

    li.item-sidebar {
      margin: 0 10px;
      & > .link-item {
        padding: 8px 16px;

        & > span {
          display: none;
        }
      }
    }
  }
}
