$white: #ffffff;
$black: #141522;
$gray: #d9d9d9;
$light-gray: #f9f9f9;

$primary: #2ba8fb !default;
$danger: #ff4d5e;
$success: #4ade80;
$warning: #facc15;
$error: #fef2f2;

$border-gray: #f5f5f7;

@mixin bg-status-active {
  background-color: #00ff00;
  opacity: 0.5;
  color: $white;
}

@mixin bg-status-inactive {
  background-color: #c9c9c9;
  color: $white;
}

@mixin btn-border-box-shadow {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

@mixin button {
  border: 1px solid $border-gray;
  color: $black;
  @include btn-border-box-shadow;
  background-color: $white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
}

@mixin alert-success {
  background-color: #f0fdf4;
  color: #15803d;
}

@mixin alert-error {
  background-color: $error;
  color: #b91c1c;
}
